In [24]:
import pandas as pd
import numpy as np

In [25]:
sslc = pd.read_csv('marks.txt', sep = ';', header= None , index_col = None)

<ipython-input-25-838438318a49>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sslc = pd.read_csv('marks.txt', sep = ';', header= None , index_col = None)

In [26]:
print(type(sslc))

<class 'pandas.core.frame.DataFrame'>

In [27]:
sslc.head(10)

  0      1    2    3   4   5   6    7    8    9   10
0  A  10001  053  036  28  16  44  177  NaN  NaN NaN
1  A  10002  058  037  42  35  40  212    P  NaN NaN
2  A  10003  072  056  71  55  70  324    P  NaN NaN
3  A  10004  087  064  83  58  65  357    P  NaN NaN
4  A  10005  059  045  50  35  48  237    P  NaN NaN
5  A  10006  044  037  25  18  37  161  NaN  NaN NaN
6  A  10007  062  046  49  36  44  237    P  NaN NaN
7  A  10008  087  071  97  71  81  407    P  NaN NaN
8  A  10009  043  040  45  35  35  198    P  NaN NaN
9  A  10010  049  042  20  27  40  178  NaN  NaN NaN

In [28]:
sslc.tail(10)

       0       1    2    3   4   5   6    7    8    9   10
185657  C  199989  057  034  26  17  58  192  NaN  NaN NaN
185658  C  199990  023  018  17  10  41  109  NaN  NaN NaN
185659  C  199991  063  042  37  35  60  237    P  NaN NaN
185660  C  199992  058  044  36  20  45  203  NaN  NaN NaN
185661  C  199994  044  038  25  17  41  165  NaN  NaN NaN
185662  C  199995  053  034  26  24  44  181  NaN  NaN NaN
185663  C  199996  051  038  24  15  41  169  NaN  NaN NaN
185664  C  199997  049  039  12  20  24  144  NaN  NaN NaN
185665  C  199998  033  036  22  15  35  141  NaN  NaN NaN
185666  C  199999  017  014  15  14  20   80  NaN  NaN NaN

In [29]:
#returns no of data(cells) in the data frame
sslc.size

2042337

In [30]:
#returns the no of non null values in each col
sslc.count()

0     185667
1     185667
2     185667
3     185667
4     185667
5     185667
6     185667
7     185667
8     159072
9        113
10         0
dtype: int64

In [31]:
sslc.shape

(185667, 11)

In [32]:
sslc.ndim

2

In [33]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185667 entries, 0 to 185666
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       185667 non-null  object
 1   1       185667 non-null  int64
 2   2       185667 non-null  object
 3   3       185667 non-null  object
 4   4       185667 non-null  object
 5   5       185667 non-null  object
 6   6       185667 non-null  object
 7   7       185667 non-null  object
 8   8       159072 non-null  object
 9   9       113 non-null     object
 10  10      0 non-null       float64
dtypes: float64(1), int64(1), object(9)
memory usage: 15.6+ MB

In [34]:
# no of unique values in each col of dataframe
sslc.nunique()

0          6
1     185667
2         96
3         95
4         99
5         98
6         97
7        882
8          1
9          1
10         0
dtype: int64

In [35]:
sslc.describe()

                  1    10
count  185667.000000  0.0
mean   105014.949043  NaN
std     54921.152696  NaN
min     10001.000000  NaN
25%     57314.500000  NaN
50%    105291.000000  NaN
75%    152581.500000  NaN
max    199999.000000  NaN

In [36]:
sslc.describe(include= [object])

             0       2       3       4       5       6       7       8    9
count   185667  185667  185667  185667  185667  185667  185667  159072  113
unique       6      96      95      99      98      97     882       1    1
top          B     085     035      35      35      35     278       P    W
freq     41341    5989    6703   12842   25723    5334     592  159072  113

In [37]:
sslc.describe(exclude= [object])

                  1    10
count  185667.000000  0.0
mean   105014.949043  NaN
std     54921.152696  NaN
min     10001.000000  NaN
25%     57314.500000  NaN
50%    105291.000000  NaN
75%    152581.500000  NaN
max    199999.000000  NaN

In [38]:
sslc.describe(include= 'all')

,0,1,2,3,4,5,6,7,8,9,10
count,185667,185667.000000,185667,185667,185667,185667,185667,185667.0,159072,113,0.0
unique,6,NaN,96,95,99,98,97,882.0,1,1,NaN
top,B,NaN,085,035,35,35,35,278.0,P,W,NaN
freq,41341,NaN,5989,6703,12842,25723,5334,592.0,159072,113,NaN
mean,NaN,105014.949043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,54921.152696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,10001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,57314.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,105291.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,152581.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,199999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# how to use describe method to describe a specific column

In [39]:
sslc.memory_usage()

Index        128
0        1485336
1        1485336
2        1485336
3        1485336
4        1485336
5        1485336
6        1485336
7        1485336
8        1485336
9        1485336
10       1485336
dtype: int64

In [41]:
sslc.columns = ['region', 'roll_number' , 'fl','sl','math','sci','ss','total','pass','withheld','extra']

In [42]:
sslc.head()

  region  roll_number   fl   sl math sci  ss total pass withheld  extra
0      A        10001  053  036   28  16  44   177  NaN      NaN    NaN
1      A        10002  058  037   42  35  40   212    P      NaN    NaN
2      A        10003  072  056   71  55  70   324    P      NaN    NaN
3      A        10004  087  064   83  58  65   357    P      NaN    NaN
4      A        10005  059  045   50  35  48   237    P      NaN    NaN

In [43]:
sslc['pass']

0         NaN
1           P
2           P
3           P
4           P
         ...
185662    NaN
185663    NaN
185664    NaN
185665    NaN
185666    NaN
Name: pass, Length: 185667, dtype: object

In [44]:
sslc.iloc[2]

region             A
roll_number    10003
fl               072
sl               056
math              71
sci               55
ss                70
total            324
pass               P
withheld         NaN
extra            NaN
Name: 2, dtype: object

In [ ]:
print(sslc)

In [45]:
sslc.set_index('roll_number', inplace = True)

In [46]:
sslc.head(10)

            region   fl   sl math sci  ss total pass withheld  extra
roll_number
10001            A  053  036   28  16  44   177  NaN      NaN    NaN
10002            A  058  037   42  35  40   212    P      NaN    NaN
10003            A  072  056   71  55  70   324    P      NaN    NaN
10004            A  087  064   83  58  65   357    P      NaN    NaN
10005            A  059  045   50  35  48   237    P      NaN    NaN
10006            A  044  037   25  18  37   161  NaN      NaN    NaN
10007            A  062  046   49  36  44   237    P      NaN    NaN
10008            A  087  071   97  71  81   407    P      NaN    NaN
10009            A  043  040   45  35  35   198    P      NaN    NaN
10010            A  049  042   20  27  40   178  NaN      NaN    NaN

In [47]:
sslc.loc[10001]

region        A
fl          053
sl          036
math         28
sci          16
ss           44
total       177
pass        NaN
withheld    NaN
extra       NaN
Name: 10001, dtype: object

In [50]:
sslc.isnull().sum()

region           0
fl               0
sl               0
math             0
sci              0
ss               0
total            0
pass         26595
withheld    185554
extra       185667
dtype: int64

In [51]:
sslc['math'].unique()

array(['28', '42', '71', '83', '50', '25', '49', '97', '45', '20', '51',
       '26', '35', '82', '48', '56', '24', '52', '61', '63', '23', '75',
       '36', '60', '29', '85', '39', '78', '43', '80', '62', '53', '58',
       '89', '54', '57', '10', '66', '65', '96', '79', '18', '73', '87',
       '40', '81', '88', '90', '68', '99', '64', '22', '30', '47', '86',
       '46', '84', '44', '77', '13', '21', '03', '09', '37', '16', '27',
       '38', '70', '04', '94', '15', '41', '19', '11', '67', '14', '07',
       '74', '76', '17', '08', '55', '100', '98', '69', '72', '91', '59',
       '92', '95', '93', '06', '12', '02', '05', '31', '32', '01', 'AA'],
      dtype=object)

In [52]:
sslc['fl'].replace('AA', np.nan, inplace = True)
sslc['sl'].replace('AA', np.nan, inplace = True)
sslc['math'].replace('AA', np.nan, inplace = True)
sslc['sci'].replace('AA', np.nan, inplace = True)
sslc['ss'].replace('AA', np.nan, inplace = True)
sslc['total'].replace('AA', np.nan, inplace = True)

<ipython-input-52-dd4f270ee280>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['fl'].replace('AA', np.nan, inplace = True)
<ipython-input-52-dd4f270ee280>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['sl'].replace('AA', np.nan, inplace = True)
<ipython-input-52-dd4f270ee280>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['math'].replace('AA', np.nan, inplace = True)
<ipython-input-52-dd4f270ee280>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['sci'].replace('AA', np.nan, inplace = True)
<ipython-input-52-dd4f270ee280>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['ss'].replace('AA', np.nan, inplace = True)
<ipython-input-52-dd4f270ee280>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['total'].replace('AA', np.nan, inplace = True)

In [53]:
sslc['fl'].unique()

array(['053', '058', '072', '087', '059', '044', '062', '043', '049',
       '055', '048', '045', '083', '046', '037', '030', '050', '042',
       '067', '076', '074', '051', '056', '073', '071', '068', '069',
       '047', '064', '082', '079', '075', '086', '077', '054', '041',
       '078', '063', '084', '080', '085', '065', '090', '093', '092',
       '089', '081', '033', '070', '066', '060', '052', '034', '057',
       '021', '039', '036', '026', '032', '035', '040', '017', '027',
       '061', '024', '028', '088', '031', '029', '025', '038', '091',
       '094', '096', '095', '022', '019', '014', '016', '018', '023',
       '011', '012', '015', '004', '013', '010', '009', '020', '097',
       '006', '005', '007', '008', nan, '098'], dtype=object)

In [54]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185667 entries, 10001 to 199999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   region    185667 non-null  object
 1   fl        185642 non-null  object
 2   sl        185532 non-null  object
 3   math      185624 non-null  object
 4   sci       185615 non-null  object
 5   ss        185615 non-null  object
 6   total     185666 non-null  object
 7   pass      159072 non-null  object
 8   withheld  113 non-null     object
 9   extra     0 non-null       float64
dtypes: float64(1), object(9)
memory usage: 19.6+ MB

In [55]:
sslc['fl'] = pd.to_numeric(sslc['fl'], errors = 'coerce')
sslc['sl'] = pd.to_numeric(sslc['sl'], errors = 'coerce')
sslc['math'] = pd.to_numeric(sslc['math'], errors = 'coerce')
sslc['sci'] = pd.to_numeric(sslc['sci'], errors = 'coerce')
sslc['ss'] = pd.to_numeric(sslc['ss'], errors = 'coerce')
sslc['total'] = pd.to_numeric(sslc['total'], errors = 'coerce')

In [56]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185667 entries, 10001 to 199999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   region    185667 non-null  object
 1   fl        185642 non-null  float64
 2   sl        185532 non-null  float64
 3   math      185624 non-null  float64
 4   sci       185615 non-null  float64
 5   ss        185615 non-null  float64
 6   total     185666 non-null  float64
 7   pass      159072 non-null  object
 8   withheld  113 non-null     object
 9   extra     0 non-null       float64
dtypes: float64(7), object(3)
memory usage: 19.6+ MB

In [57]:
sslc.describe()

,fl,sl,math,sci,ss,total,extra
count,185642.000000,185532.000000,185624.000000,185615.000000,185615.000000,185666.000000,0.0
mean,73.564430,53.837435,62.847983,50.712265,63.188266,304.056510,NaN
std,14.124606,15.337772,23.483041,20.049138,16.915145,80.572719,NaN
min,4.000000,4.000000,1.000000,2.000000,3.000000,0.000000,NaN
25%,65.000000,43.000000,43.000000,35.000000,51.000000,246.000000,NaN
50%,76.000000,53.000000,62.000000,49.000000,64.000000,302.000000,NaN
75%,85.000000,65.000000,84.000000,65.000000,76.000000,366.000000,NaN
max,98.000000,97.000000,100.000000,100.000000,100.000000,488.000000,NaN

In [58]:
#filter data frame

non_numeric = sslc.select_dtypes(include= [object])

In [59]:
print(non_numeric)

            region pass withheld
roll_number
10001            A  NaN      NaN
10002            A    P      NaN
10003            A    P      NaN
10004            A    P      NaN
10005            A    P      NaN
...            ...  ...      ...
199995           C  NaN      NaN
199996           C  NaN      NaN
199997           C  NaN      NaN
199998           C  NaN      NaN
199999           C  NaN      NaN

[185667 rows x 3 columns]

In [60]:
# statistical measures of cols

sslc['total'].max()

488.0

In [61]:
sslc['total'].min()

0.0

In [64]:
sslc['math'].mode()

0    35.0
Name: math, dtype: float64

In [65]:
sslc['region'].value_counts()

region
B    41341
A    36401
C    31261
F    26414
D    25470
E    24780
Name: count, dtype: int64

In [66]:
sslc['math'].value_counts()

math
35.0     12842
100.0     4666
99.0      3266
98.0      3237
97.0      3152
         ...
3.0         28
31.0        16
2.0         12
1.0          7
32.0         1
Name: count, Length: 98, dtype: int64

In [67]:
sslc.isnull().sum()

region           0
fl              25
sl             135
math            43
sci             52
ss              52
total            1
pass         26595
withheld    185554
extra       185667
dtype: int64

In [68]:
sslc["pass"].unique()

array([nan, 'P'], dtype=object)

In [69]:
sslc['pass'].isnull().sum()

26595

In [70]:
sslc['pass'] = sslc['pass'].fillna('F')

In [71]:
sslc['pass'].value_counts()

pass
P    159072
F     26595
Name: count, dtype: int64

In [72]:
sslc['withheld'].value_counts()

withheld
W    113
Name: count, dtype: int64

In [77]:
#conditional indexing

fl_and_sl = sslc[(sslc['fl'] >75) | (sslc['sl']> 75)]

In [74]:
print(type(fl_and_sl))

<class 'pandas.core.frame.DataFrame'>

In [78]:
fl_and_sl

            region    fl    sl  math   sci    ss  total pass withheld  extra
roll_number
10004            A  87.0  64.0  83.0  58.0  65.0  357.0    P      NaN    NaN
10008            A  87.0  71.0  97.0  71.0  81.0  407.0    P      NaN    NaN
10014            A  83.0  48.0  82.0  42.0  64.0  319.0    P      NaN    NaN
10023            A  76.0  58.0  61.0  74.0  73.0  342.0    P      NaN    NaN
10031            A  76.0  55.0  60.0  52.0  59.0  302.0    P      NaN    NaN
...            ...   ...   ...   ...   ...   ...    ...  ...      ...    ...
199965           C  92.0  68.0  78.0  65.0  83.0  386.0    P      NaN    NaN
199967           C  77.0  53.0  39.0  35.0  60.0  264.0    P      NaN    NaN
199970           C  83.0  63.0  84.0  41.0  77.0  348.0    P      NaN    NaN
199980           C  83.0  56.0  79.0  49.0  73.0  340.0    P      NaN    NaN
199986           C  77.0  51.0  44.0  35.0  58.0  265.0    P      NaN    NaN

[96822 rows x 10 columns]

In [76]:
fl_and_sl.count()

region      16205
fl          16205
sl          16205
math        16205
sci         16205
ss          16204
total       16205
pass        16205
withheld        0
extra           0
dtype: int64

In [79]:
sslc.groupby('region')['pass'].value_counts()

region  pass
A       P       31013
        F        5388
B       P       36202
        F        5139
C       P       26681
        F        4580
D       P       22080
        F        3390
E       P       20880
        F        3900
F       P       22216
        F        4198
Name: count, dtype: int64

In [80]:
sslc.groupby('region')['withheld'].value_counts()

region  withheld
A       W           14
B       W           12
C       W           19
D       W           14
E       W            7
F       W           47
Name: count, dtype: int64

In [82]:
sslc.groupby('region')['math'].max()

region
A    100.0
B    100.0
C    100.0
D    100.0
E    100.0
F    100.0
Name: math, dtype: float64

In [84]:
sslc_60 = sslc[sslc['total']>= 300]

In [85]:
sslc_60.count()

region      95253
fl          95252
sl          95252
math        95253
sci         95253
ss          95252
total       95253
pass        95253
withheld        1
extra           0
dtype: int64

In [86]:
sslc.insert(3, 'language_total',0)

In [87]:
sslc.head()

,region,fl,sl,language_total,math,sci,ss,total,pass,withheld,extra
roll_number,,,,,,,,,,,
10001,A,53.0,36.0,0,28.0,16.0,44.0,177.0,F,NaN,NaN
10002,A,58.0,37.0,0,42.0,35.0,40.0,212.0,P,NaN,NaN
10003,A,72.0,56.0,0,71.0,55.0,70.0,324.0,P,NaN,NaN
10004,A,87.0,64.0,0,83.0,58.0,65.0,357.0,P,NaN,NaN
10005,A,59.0,45.0,0,50.0,35.0,48.0,237.0,P,NaN,NaN

In [88]:
def total(fl,sl):
  return fl+sl

In [90]:
sslc['language_total'] = total(sslc['fl'], sslc['sl'])

In [91]:
sslc.head(20)

,region,fl,sl,language_total,math,sci,ss,total,pass,withheld,extra
roll_number,,,,,,,,,,,
10001,A,53.0,36.0,89.0,28.0,16.0,44.0,177.0,F,NaN,NaN
10002,A,58.0,37.0,95.0,42.0,35.0,40.0,212.0,P,NaN,NaN
10003,A,72.0,56.0,128.0,71.0,55.0,70.0,324.0,P,NaN,NaN
10004,A,87.0,64.0,151.0,83.0,58.0,65.0,357.0,P,NaN,NaN
10005,A,59.0,45.0,104.0,50.0,35.0,48.0,237.0,P,NaN,NaN
10006,A,44.0,37.0,81.0,25.0,18.0,37.0,161.0,F,NaN,NaN
10007,A,62.0,46.0,108.0,49.0,36.0,44.0,237.0,P,NaN,NaN
10008,A,87.0,71.0,158.0,97.0,71.0,81.0,407.0,P,NaN,NaN
10009,A,43.0,40.0,83.0,45.0,35.0,35.0,198.0,P,NaN,NaN
10010,A,49.0,42.0,91.0,20.0,27.0,40.0,178.0,F,NaN,NaN
10011,A,55.0,41.0,96.0,51.0,35.0,50.0,232.0,P,NaN,NaN
10012,A,48.0,39.0,87.0,26.0,14.0,40.0,167.0,F,NaN,NaN
10013,A,45.0,38.0,83.0,35.0,35.0,49.0,202.0,P,NaN,NaN
10014,A,83.0,48.0,131.0,82.0,42.0,64.0,319.0,P,NaN,NaN
10015,A,46.0,36.0,82.0,35.0,35.0,48.0,200.0,P,NaN,NaN
10016,A,37.0,43.0,80.0,48.0,22.0,47.0,197.0,F,NaN,NaN
10017,A,30.0,42.0,72.0,26.0,11.0,36.0,145.0,F,NaN,NaN
10018,A,50.0,41.0,91.0,51.0,21.0,53.0,216.0,F,NaN,NaN
10019,A,53.0,42.0,95.0,56.0,35.0,64.0,250.0,P,NaN,NaN
10020,A,42.0,35.0,77.0,26.0,24.0,35.0,162.0,F,NaN,NaN

In [92]:
top_5_fl = sslc.nlargest(5, 'fl')

In [93]:
print(top_5_fl)

            region    fl    sl  language_total   math   sci    ss  total pass  \
roll_number
38783            D  98.0  78.0           176.0  100.0  87.0  91.0  454.0    P
78021            B  98.0  84.0           182.0   99.0  89.0  96.0  466.0    P
97128            D  98.0  81.0           179.0   96.0  82.0  88.0  445.0    P
148522           D  98.0  84.0           182.0  100.0  92.0  97.0  471.0    P
20179            B  97.0  84.0           181.0   85.0  87.0  94.0  447.0    P

            withheld  extra
roll_number
38783            NaN    NaN
78021            NaN    NaN
97128            NaN    NaN
148522           NaN    NaN
20179            NaN    NaN

In [96]:
top_6_fl = sslc.sort_values('fl', ascending= False).head(6)
print(top_6_fl)

            region    fl    sl  language_total   math   sci    ss  total pass  \
roll_number
97128            D  98.0  81.0           179.0   96.0  82.0  88.0  445.0    P
38783            D  98.0  78.0           176.0  100.0  87.0  91.0  454.0    P
148522           D  98.0  84.0           182.0  100.0  92.0  97.0  471.0    P
78021            B  98.0  84.0           182.0   99.0  89.0  96.0  466.0    P
76146            B  97.0  77.0           174.0   94.0  85.0  90.0  443.0    P
97109            D  97.0  87.0           184.0   97.0  90.0  95.0  466.0    P

            withheld  extra
roll_number
97128            NaN    NaN
38783            NaN    NaN
148522           NaN    NaN
78021            NaN    NaN
76146            NaN    NaN
97109            NaN    NaN

In [97]:
# students scored more than 75 in maths

mat_greater_75 = sslc[sslc['math']> 75]

In [98]:
print(len(mat_greater_75))

64080

In [99]:
high_scores = sslc[(sslc['math']> 90 ) & (sslc['sci']> 90 ) & (sslc['ss']> 90)]
print(high_scores)

            region    fl    sl  language_total   math   sci    ss  total pass  \
roll_number
10681            A  96.0  88.0           184.0  100.0  95.0  97.0  476.0    P
10721            A  95.0  88.0           183.0  100.0  94.0  98.0  475.0    P
10762            A  92.0  66.0           158.0  100.0  91.0  98.0  447.0    P
11360            A  92.0  80.0           172.0  100.0  91.0  95.0  458.0    P
11556            A  89.0  86.0           175.0  100.0  93.0  93.0  461.0    P
...            ...   ...   ...             ...    ...   ...   ...    ...  ...
199429           C  93.0  79.0           172.0  100.0  94.0  96.0  462.0    P
199460           C  92.0  85.0           177.0   98.0  93.0  98.0  466.0    P
199608           C  94.0  89.0           183.0   99.0  97.0  98.0  477.0    P
199638           C  87.0  79.0           166.0   93.0  91.0  91.0  441.0    P
199914           C  91.0  80.0           171.0   99.0  94.0  97.0  461.0    P

            withheld  extra
roll_number
10681            NaN    NaN
10721            NaN    NaN
10762            NaN    NaN
11360            NaN    NaN
11556            NaN    NaN
...              ...    ...
199429           NaN    NaN
199460           NaN    NaN
199608           NaN    NaN
199638           NaN    NaN
199914           NaN    NaN

[2135 rows x 11 columns]